<tr>
  <td>
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <h1
            style="
              margin: 0;
              font-size: 24px;
              line-height: normal;
              font-weight: 700;
              color: #727272;
            "
          >
            Octo Browser Autumn Digest: Catch Up on What You Might Have Missed!
          </h1>
        </td>
      </tr>
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/3h2JsBH/image-9-1-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Updates 1.11 and 1.12
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="text-decoration: underline; color: #727272"
              >Update 1.11</a
            >
            was a technical one, but in Update 1.12 we expanded WebRTC settings
            and introduced an improved and more profitable discount system for
            subscription upgrades.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #1890ff;
            "
            >More about Update 1.12 and subscription upgrade discounts →</a
          >
        </td>
      </tr>

      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/WtL5L3P/image-9-2-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Which proxies are better for farming Google accounts?
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            We have a guide on how to assess the quality of proxies for mass
            farming of Google accounts.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #1890ff;
            "
            >More about choosing the right proxies →</a
          >
        </td>
      </tr>

      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/wdX0xFz/image-9-3-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Reliable Software Can’t Be Free
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            We explain why high-quality multi-accounting browsers are
            subscription-based and what exactly you're paying for when you
            choose a browser that’s right for your tasks.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #1890ff;
            "
            >More in our blog →</a
          >
        </td>
      </tr>

      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Useful Insights from Our Partners
          </h2>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Our partners at ProTraffic have compiled the freshest useful
            materials for affiliate marketers. Here they are:
          </p>
        </td>
      </tr>

      <!-- End Text section -->
    </table>
  </td>
</tr>
